.attach,
.book,
.hide,
.info,
.flatloader,
.nohistory,
#history td:nth-child(10),
#history td:nth-child(11),
#history td:nth-child(12),
#history_wrapper > div > div:nth-child(1) {
    display: none
}

.flats tr,
img:hover {
    cursor: pointer;
}

img:hover {
    opacity: .7
}

.ui.input,
img {
    width: 100%
}

.row {
    padding-bottom: 0 !important
}

.req {
    border-color: #E91E63 !important
}

.green .selected {
    color: #fff;
    box-shadow: inset 0px 3px 10px #178431
}

.attached {
    overflow-x: auto;
    margin-bottom: 1%
}

.attached .flats .segment {
    cursor: pointer;
    min-width: 182px !important
}

.ui.segment {
    word-break: break-all
}

.attached .flats .segment.sel,
.attached .flats .segment:not(.disabled):hover {
    background: rgba(33, 133, 208, .29);
    transition: .2s ease-in
}

#webcam {
    max-width: 320px
}

.can {
    right: 4%;
    top: 14%;
    width: 43%;
    position: absolute
}

.ui.dimmer .ui.loader:after {
    border-color: #1d1d1d transparent transparent
}

.book {
    margin: 4% 0 0
}

#calls_wrapper .ui.selection.dropdown {
    min-width: 3em !important
}

#date1 {
    max-width: 92px
}

#calls td.ui.label {
    text-align: center;
    width: 83%;
    margin: 13% 0 0
}

#calls th:nth-child(3) {
    max-width: 85px
}

#calls th:nth-child(2),
#calls th:nth-child(4) {
    min-width: 120px
}

#calls th:nth-child(5) {
    max-width: 108px
}

#yadcf-filter--calls-2 {
    max-width: 75%
}

#yadcf-filter--calls-4 {
    max-width: 79%
}

#yadcf-filter--calls-2-reset,
#yadcf-filter--calls-4-reset {
    max-width: 4%
}

.ui.menu .item > .label.countcalls,
.attach #fixed_headers_wrapper .row:nth-child(1) {
    display: none
}

.dt-table {
    padding: 0 !important
}

.history .form {
    margin-bottom: 1%
}

div.ui.tab .history .field h5.history_header {
    position: absolute;
    width: 100%;
    background: #00b5ad;
    color: #fff;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin: 1em 0 !important;
    padding: 3% 0% 3%
}

.atbut {
    margin-bottom: 1% !important
}

#history_wrapper .row:last-child {
    padding: 0
}

.blacklist {
    display: none;
}

.info {
    margin: 3% 0 0
}

tr:hover {
    cursor: pointer
}

.oksave {
    display: none;
    font-weight: bold;
    color: rgba(33, 186, 69, 0.75);
    position: absolute
}

.transparent textarea {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important
}


.field .ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before,
.field .ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: #E91E63 !important
}

.field .ui.toggle.checkbox input ~ .box::after,
.ui.toggle.checkbox input ~ label::after {
    background: #fff;
    box-shadow: 0px 0px 4px #8d8d8d
}

.negative {
    color: #E91E63
}

.ui.form input[type="text"],
.ui.form input[type="email"] {
    max-height: 38px;
    border: none;
    border-bottom: 2px solid rgba(97, 125, 147, 0.28);
    border-radius: 0 !important
}

.oplata {
    padding: 2% 0;
    border-bottom: 1px solid #d3dbe1
}

.oplata h3 {
    margin: 0
}

.oplata span {
    font-size: 1.2em;
    width: 100%;
    display: block
}

.save.link,
.checkmark.link {
    display: none;
    position: absolute;
    right: 0px;
    top: 40%;
}

.bold {
    font-weight: bold
}

.ord {
    background: hsla(134, 70%, 43%, 0.45)
}

.oplata .ribbon {
    position: absolute !important;
    z-index: 1;
    left: -1rem !important;
    top: -1em
}

.oplata td {
    position: relative
}

.ui.divider {
    font-size: 1.5rem
}

.ui.comments {
    max-width: 100%
}

i.icon.empty.star:hover:before {
    content: "\f005"
}

i.icon.star:not(.empty):hover:before {
    content: "\f006"
}

h3.ui.divider {
    font-size: 1rem
}

.strike {
    text-decoration: line-through
}

.pink .selected {
    color: #fff;
    box-shadow: inset 0px 3px 10px #88235c;
}

#fixed_headers {
    border-radius: 0;
}

.dataTables_scrollBody {
    border-radius: 0 0 0.2em 0.2em;
}

.dataTables_scrollHeadInner .table {
    border-radius: 0.2em 0.2em 0 0 !important;
}

.teal .selected {
    box-shadow: inset 0px 3px 10px rgba(90, 90, 90, 0.38);
}

#history .bron {
    background: #e03997;
    color: #fff;
}

#history .pink {
    background: #df60c6;
    color: #fff;
}

#history .green {
    background: #87db3a;
    color: #fff;
}

.oplata .ui input[disabled] {
    opacity: 0.9;
}

.hndog {
    font-weight: bold;
}

#hndog {
    /* max-width: 88px;*/
}

.prodeln {
    display: none
}

.icon.field {
    position: relative
}

.field .ui.icon.input > i.icon.star {
    right: 1%;
    top: 40%;
    height: 50%;
}

.button.att:hover {
    opacity: 1
}

.button.att {
    opacity: 0.3
}

.levels {
    position: absolute;
    height: 1em;
    width: 100%;
    bottom: 25%;
}

.levels button {
    padding: 4px !important;
    width: 20%;
    max-width: 2em;
    min-height: 1px !important;
}

#history tr td:last-child {
    background: #fff;
    border-left: 2px solid #6bab31e6;
}


.zaloginput {
    display: none;
}

.keys:hover,
.keys.active,
.keys label:hover,
.keys.active label {
    color: #2185d0;
    cursor: pointer
}

.info.ui.form .disabled.field {
    opacity: 0.9
}

#vozvrat .field label,
#prodlen .field label {
    font-size: 1.5em;
}

#vozvrat .typechoise,
#prodlen .typechoise {
    opacity: 0.3;
    cursor: pointer;
}

#vozvrat .typechoise:hover,
#prodlen .typechoise:hover {
    opacity: 1;
    color: #2196F3;
}

#vozvrat .typechoise.active,
#prodlen .typechoise.active {
    color: #2196F3;
    border-bottom: 2px dashed;
    opacity: 1;
}

.prodlen_count,
.return_count {
    font-weight: bold;
    color: #2196F3;
}

input[type=number]::-webkit-inner-spin-button {
    cursor: pointer;
    padding: 10px;
}

.ui.form input.blackcli {
    background: #141414;
    color: #fff;
}

#leftside {
    border-right: 5px solid #eef2f4;
    border-radius: 9px;
    margin-right: 0px;
    background: #fff;
    padding: 0;
    height: max-content;
}

#rightside {
    padding: 0;
}

#rightside .ui.top.attached {
    height: 88vh;
    background: #fff;
    margin: 0;
    border-radius: 9px 9px 0 0;
}

#rightside .ui.bottom.tabular.menu .item {
    border: none;
    cursor: pointer;
    border-radius: 0 0 9px 9px !important;
}

#rightside .ui.bottom.tabular.menu .item:not(.active):hover {
    background: #a7a7a71f;
}

#rightside > .tab {
    padding: 1rem 1.4rem;
}


.ui.red.ribbon.label {
    float: left;
}

.userHistoryOrder {
    padding: .4em 0;
}

.userWithKeyDiv,
.dtKey {
    display: none;
}

.ui.comments .comment {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px !important;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px !important;
    float: left;
    box-shadow: 1px 1px 2px #e1e1e1;
}

.ui.comments .comment.red {
    background: #db2828;
}

.ui.comments .comment:after {
    border-width: 10px 0 0 10px;
    border-color: #e1ffc7 transparent transparent transparent;
    top: 0;
    left: -9px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.ui.comments .comment.red:after {
    border-color: #db2828 transparent transparent transparent;
}

.ui.comments .comment.red .author,
.ui.comments .comment.red .text {
    color: #fff;

}

#confirmSms {
    text-align: center;
}

#confirmSms input {
    margin: 0 auto;
    text-align: center;
    min-height: 80px;
    font-size: 4em;
    width: 20%;
    padding: 0;
    background: #f2f2f2;
    transition: all .2s ease-in-out;
    display: inline-block;


}

#confirmSms input:focus {
    background: #cae8ff;
}

#confirmSms input::selection {
    background: transparent;
}

.shareIcons {
    text-align: center;
    font-size: 6em;
    transition: .2s ease-out;
    cursor: pointer;
}

.shareIcons i:hover {
    color: #21ba45;
    transition: .3s ease-in;
}

.ui.search {
    padding: 0;
}

.infoActions {
    margin-top: .5rem;
}
#orders{
    border-collapse: separate;
    border-spacing: 0 1px;
}
#orders .green {
    background: #d5f5d9;
    color: #1ebc30;
}
#orders>tbody>tr>td{
    border: none;
}
#orders .green:hover, #orders .green.active {
    background: #87db3a;
    color: #fff;
}

#orders tr td:first-child {
    border-radius: 4px 0 0 4px;
}

#orders tr td:last-child {
    border-radius: 0 4px 4px 0;
}

.viewOrder {
    background: #fff;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    border-radius: 4px;
    padding: 1rem 0;
}

.viewOrder .contentOrder {
    display: none;
}

.headerLabels{
    float: right;
}