.scrolling.dimmable.dimmed > .dimmer {
    overflow: auto !important;
}

body > .grid {
    height: 100%;
}


body {
    background: url(../../public/img/loginbg.png);
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}

.ui.segment.loginSegment {

    box-shadow: none;
    padding: 2em;
    /*border-color: #dde2e5;*/
    border-color: #ffffff;
    border-radius: 1em;

}

.loginWrapper {
    max-width: 450px;
    margin: 0 12em 0 auto;
}

.loginHeader {
    font-size: 2.5em;
    font-family: 'Kanit', sans-serif;
    margin-bottom: .5em;
}

.ui.large.button {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.ui.input {
    font-size: 1.3em;
}